:root {
    --bodyBg: #0c101b;
    --bodyBg2: #1c253e;
    --bodyBg3: #242f50;
    --bodyBgHover: #111626;
    --bodyBg2Hover: #212b49;
    --bodyBg3Hover: #29355b;
    --bodyRGBA: rgba(12, 16, 27, 0.7);
    --bodyRGBA2: rgba(12, 16, 27, 0.5);
    --bodyRGBA3: rgba(12, 16, 27, 0.3);
    --bodyRGBA0: rgba(12, 16, 27, 0);
    --bodyTxt: rgba(255, 255, 255, 0.9);
    --bodyTxt2: rgba(255, 255, 255, 0.6);
    --bodyTxt3: rgba(255, 255, 255, 0.4);
    --bodyAccent: #747fff;
    --bodyAccentTxt: rgba(255, 255, 255, 0.9);
    --bodyBorder: #0c101b;
    --bodyRadius: 0px;
  
    --dominantG: #111626;
    --dominantRGBA: rgba(17, 22, 38, 0.7);
    --dominantRGBA2: rgba(17, 22, 38, 0.5);
    --dominantRGBA3: rgba(17, 22, 38, 0.3);
    --dominantBg: #111626;
    --dominantBg2: #212a49;
    --dominantBg3: #29355b;
    --dominantBgHover: #161c31;
    --dominantBg2Hover: #263054;
    --dominantBg3Hover: #2e3b66;
    --dominantTxt: rgba(255, 255, 255, 0.9);
    --dominantTxt2: rgba(255, 255, 255, 0.6);
    --dominantTxt3: rgba(255, 255, 255, 0.4);
    --dominantTxtInverse: #262626;
    --dominantRadius: 0px;
  
    --accentBg: #747fff;
    --accentBg2: #a7aeff;
    --accentBg3: #c0c5ff;
    --accentBgHover: #838dff;
    --accentBg2Hover: #b6bcff;
    --accentBg3Hover: #cfd3ff;
    --accentG: #747fff;
    --accentRGBA: rgba(116, 127, 255, 0.4);
  
    --accentTxt: rgba(255, 255, 255, 0.9);
    --accentTxt2: rgba(255, 255, 255, 0.6);
    --accentTxt3: rgba(255, 255, 255, 0.4);
  
    --buttonG: #838dff;
    --buttonBg: #838dff;
    --buttonBg2: #b6bcff;
    --buttonBg3: #cfd3ff;
    --buttonBgHover: #929bff;
    --buttonBg2Hover: #c5caff;
    --buttonBg3Hover: #dee1ff;
    --buttonTxt: rgba(0, 0, 0, 0.9);
    --buttonTxt2: rgba(0, 0, 0, 0.6);
    --buttonTxt3: rgba(0, 0, 0, 0.4);
    --buttonAccent: #747fff;
    --buttonAccentTxt: rgba(255, 255, 255, 0.9);
    --buttonBorder: #0c101b;
    --buttonRadius: 0px;
  
    --buttonSecondaryG: #29355b;
    --buttonSecondaryBg: #29355b;
    --buttonSecondaryBg2: #39497e;
    --buttonSecondaryBg3: #415490;
    --buttonSecondaryBgHover: #2e3b66;
    --buttonSecondaryBg2Hover: #3e4f89;
    --buttonSecondaryBg3Hover: #465a9b;
    --buttonSecondaryTxt: rgba(255, 255, 255, 0.9);
    --buttonSecondaryTxt2: rgba(255, 255, 255, 0.6);
    --buttonSecondaryTxt3: rgba(255, 255, 255, 0.4);
    --buttonSecondaryAccent: #747fff;
    --buttonSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
    --buttonSecondaryBorder: #0c101b;
    --buttonSecondaryRadius: 0px;
  
    --inputG: #1c253e;
    --inputBg: #1c253e;
    --inputBg2: #2c3a61;
    --inputBg3: #344473;
    --inputBgHover: #212b49;
    --inputBg2Hover: #31406b;
    --inputBg3Hover: #394a7e;
    --inputTxt: rgba(255, 255, 255, 0.9);
    --inputTxt2: rgba(255, 255, 255, 0.6);
    --inputTxt3: rgba(255, 255, 255, 0.4);
    --inputAccent: #747fff;
    --inputAccentTxt: rgba(255, 255, 255, 0.9);
    --inputRadius: 4px;
    --inputBorder: #0c101b;
  
    --inputSecondaryG: #212b49;
    --inputSecondaryBg: #212b49;
    --inputSecondaryBg2: #31406c;
    --inputSecondaryBg3: #394a7e;
    --inputSecondaryBgHover: #263154;
    --inputSecondaryBg2Hover: #364677;
    --inputSecondaryBg3Hover: #3e5089;
    --inputSecondaryTxt: rgba(255, 255, 255, 0.9);
    --inputSecondaryTxt2: rgba(255, 255, 255, 0.6);
    --inputSecondaryTxt3: rgba(255, 255, 255, 0.4);
    --inputSecondaryAccent: #747fff;
    --inputSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
    --inputSecondaryRadius: 0px;
    --inputSecondaryBorder: #0c101b;
  
    --headerG: #29355b;
    --headerBg: #29355b;
    --headerBg2: #39497e;
    --headerBg3: #415490;
    --headerBgHover: #2e3b66;
    --headerBg2Hover: #3e4f89;
    --headerBg3Hover: #465a9b;
    --headerTxt: rgba(255, 255, 255, 0.9);
    --headerTxt2: rgba(255, 255, 255, 0.6);
    --headerTxt3: rgba(255, 255, 255, 0.4);
    --headerAccent: #747fff;
    --headerAccentTxt: rgba(255, 255, 255, 0.9);
    --headerBorder: #0c101b;
    --headerRadius: 0px;
  
    /* need to add to skinnner */
    --headerRGBA: rgba(41, 53, 91, 0.5);
  
    --subHeaderG: #212b49;
    --subHeaderBg: #212b49;
    --subHeaderBg2: #31406c;
    --subHeaderBg3: #394a7e;
    --subHeaderBgHover: #263154;
    --subHeaderBg2Hover: #364677;
    --subHeaderBg3Hover: #3e5089;
    --subHeaderTxt: rgba(255, 255, 255, 0.9);
    --subHeaderTxt2: rgba(255, 255, 255, 0.6);
    --subHeaderTxt3: rgba(255, 255, 255, 0.4);
    --subHeaderAccent: #747fff;
    --subHeaderAccentTxt: rgba(255, 255, 255, 0.9);
    --subHeaderBorder: #0c101b;
    --subHeaderRadius: 0px;
  
    --eventG: #1c253e;
    --eventBg: #1c253e;
    --eventBg2: #2c3a61;
    --eventBg3: #344473;
    --eventBgHover: #212b49;
    --eventBg2Hover: #31406b;
    --eventBg3Hover: #394a7e;
    --eventTxt: rgba(255, 255, 255, 0.9);
    --eventTxt2: rgba(255, 255, 255, 0.6);
    --eventTxt3: rgba(255, 255, 255, 0.4);
    --eventAccent: #747fff;
    --eventAccentTxt: rgba(255, 255, 255, 0.9);
    --eventBorder: #0c101b;
    --eventRadius: 6px;
  
    --modalG: #1c253e;
    --modalBg: #1c253e;
    --modalBg2: #2c3a61;
    --modalBg3: #344473;
    --modalBgHover: #212b49;
    --modalBg2Hover: #31406b;
    --modalBg3Hover: #394a7e;
    --modalTxt: rgba(255, 255, 255, 0.9);
    --modalTxt2: rgba(255, 255, 255, 0.6);
    --modalTxt3: rgba(255, 255, 255, 0.4);
    --modalAccent: #747fff;
    --modalAccentTxt: rgba(255, 255, 255, 0.9);
    --modalRadius: 0px;
    --modalBorder: #0c101b;
  
    --oddG: #212a49;
    --oddBg: #212a49;
    --oddBg2: #212a49;
    --oddBg3: #29355b;
    --oddBgHover: #161c31;
    --oddBg2Hover: #263054;
    --oddBg3Hover: #2e3b66;
    --oddTxt: rgba(255, 255, 255, 0.9);
    --oddTxt2: rgba(255, 255, 255, 0.6);
    --oddTxt3: rgba(255, 255, 255, 0.4);
    --oddAccent: #747fff;
    --oddAccentTxt: rgba(255, 255, 255, 0.9);
    --oddRadius: 4px;
    --oddBorder: #0c101b;
  
    --oddActiveG: #838dff;
    --oddActiveBg: #838dff;
    --oddActiveBg2: #b6bcff;
    --oddActiveBg3: #cfd3ff;
    --oddActiveBgHover: #929bff;
    --oddActiveBg2Hover: #c5caff;
    --oddActiveBg3Hover: #dee1ff;
    --oddActiveTxt: rgba(0, 0, 0, 0.9);
    --oddActiveTxt2: rgba(0, 0, 0, 0.6);
    --oddActiveTxt3: rgba(0, 0, 0, 0.4);
    --oddActiveAccent: #747fff;
    --oddActiveAccentTxt: rgba(255, 255, 255, 0.9);
    --oddActiveRadius: 4px;
    --oddActiveBorder: #0c101b;
  
    --showMoreG: #111626;
    --showMoreBg: #111626;
    --showMoreBg2: #212a49;
    --showMoreBg3: #29355b;
    --showMoreBgHover: #161c31;
    --showMoreBg2Hover: #263054;
    --showMoreBg3Hover: #2e3b66;
    --showMoreTxt: rgba(255, 255, 255, 0.9);
    --showMoreTxt2: rgba(255, 255, 255, 0.6);
    --showMoreTxt3: rgba(255, 255, 255, 0.4);
    --showMoreAccent: #747fff;
    --showMoreAccentTxt: rgba(255, 255, 255, 0.9);
    --showMoreRadius: 0px;
    --showMoreBorder: #0c101b;
  
    --tabG: #1c253e;
    --tabBg: #1c253e;
    --tabBg2: #2c3a61;
    --tabBg3: #344473;
    --tabBgHover: #212b49;
    --tabBg2Hover: #31406b;
    --tabBg3Hover: #394a7e;
    --tabTxt: rgba(255, 255, 255, 0.9);
    --tabTxt2: rgba(255, 255, 255, 0.6);
    --tabTxt3: rgba(255, 255, 255, 0.4);
    --tabAccent: #747fff;
    --tabAccentTxt: rgba(255, 255, 255, 0.9);
    --tabRadius: 0px;
    --tabBorder: #0c101b;
  
    --tabActiveG: #212b49;
    --tabActiveBg: #212b49;
    --tabActiveBg2: #31406c;
    --tabActiveBg3: #394a7e;
    --tabActiveBgHover: #263154;
    --tabActiveBg2Hover: #364677;
    --tabActiveBg3Hover: #3e5089;
    --tabActiveTxt: rgba(255, 255, 255, 0.9);
    --tabActiveTxt2: rgba(255, 255, 255, 0.6);
    --tabActiveTxt3: rgba(255, 255, 255, 0.4);
    --tabActiveAccent: #747fff;
    --tabActiveAccentTxt: rgba(255, 255, 255, 0.9);
    --tabActiveRadius: 0px;
    --tabActiveBorder: #0c101b;
  
    --tabSecondaryActiveG: #31406b;
    --tabSecondaryActiveBg: #31406b;
    --tabSecondaryActiveBg2: #41558e;
    --tabSecondaryActiveBg3: #495f9f;
    --tabSecondaryActiveBgHover: #364675;
    --tabSecondaryActiveBg2Hover: #465b98;
    --tabSecondaryActiveBg3Hover: #4e65a9;
    --tabSecondaryActiveTxt: rgba(255, 255, 255, 0.9);
    --tabSecondaryActiveTxt2: rgba(255, 255, 255, 0.6);
    --tabSecondaryActiveTxt3: rgba(255, 255, 255, 0.4);
    --tabSecondaryActiveAccent: #747fff;
    --tabSecondaryActiveAccentTxt: rgba(255, 255, 255, 0.9);
    --tabSecondaryActiveRadius: 0px;
    --tabSecondaryActiveBorder: #0c101b;
  
    --filterG: #212b49;
    --filterBg: #212b49;
    --filterBg2: #31406c;
    --filterBg3: #394a7e;
    --filterBgHover: #263154;
    --filterBg2Hover: #364677;
    --filterBg3Hover: #3e5089;
    --filterTxt: rgba(255, 255, 255, 0.9);
    --filterTxt2: rgba(255, 255, 255, 0.6);
    --filterTxt3: rgba(255, 255, 255, 0.4);
    --filterAccent: #747fff;
    --filterAccentTxt: rgba(255, 255, 255, 0.9);
    --filterRadius: 0px;
    --filterBorder: #0c101b;
  
    --menu_1G: #1c253e;
    --menu_1Bg: #1c253e;
    --menu_1Bg2: #2c3a61;
    --menu_1Bg3: #344473;
    --menu_1BgHover: #212b49;
    --menu_1Bg2Hover: #31406b;
    --menu_1Bg3Hover: #394a7e;
    --menu_1Txt: rgba(255, 255, 255, 0.9);
    --menu_1Txt2: rgba(255, 255, 255, 0.6);
    --menu_1Txt3: rgba(255, 255, 255, 0.4);
    --menu_1Accent: #747fff;
    --menu_1AccentTxt: rgba(255, 255, 255, 0.9);
    --menu_1Radius: 4px;
    --menu_1Border: #0c101b;
  
    --menu_2G: #212b49;
    --menu_2Bg: #212b49;
    --menu_2Bg2: #31406c;
    --menu_2Bg3: #394a7e;
    --menu_2BgHover: #263154;
    --menu_2Bg2Hover: #364677;
    --menu_2Bg3Hover: #3e5089;
    --menu_2Txt: rgba(255, 255, 255, 0.9);
    --menu_2Txt2: rgba(255, 255, 255, 0.6);
    --menu_2Txt3: rgba(255, 255, 255, 0.4);
    --menu_2Accent: #747fff;
    --menu_2AccentTxt: rgba(255, 255, 255, 0.9);
    --menu_2Radius: 0px;
    --menu_2Border: #0c101b;
  
    --menu_3G: #242f50;
    --menu_3Bg: #242f50;
    --menu_3Bg2: #344473;
    --menu_3Bg3: #3c4e85;
    --menu_3BgHover: #29355b;
    --menu_3Bg2Hover: #394a7e;
    --menu_3Bg3Hover: #415490;
    --menu_3Txt: rgba(255, 255, 255, 0.9);
    --menu_3Txt2: rgba(255, 255, 255, 0.6);
    --menu_3Txt3: rgba(255, 255, 255, 0.4);
    --menu_3Accent: #747fff;
    --menu_3AccentTxt: rgba(255, 255, 255, 0.9);
    --menu_3Radius: 0px;
    --menu_3Border: #0c101b;
  
    --tooltipG: #1c253e;
    --tooltipBg: #1c253e;
    --tooltipBg2: #2c3a61;
    --tooltipBg3: #344473;
    --tooltipBgHover: #212b49;
    --tooltipBg2Hover: #31406b;
    --tooltipBg3Hover: #394a7e;
    --tooltipTxt: rgba(255, 255, 255, 0.9);
    --tooltipTxt2: rgba(255, 255, 255, 0.6);
    --tooltipTxt3: rgba(255, 255, 255, 0.4);
    --tooltipAccent: #747fff;
    --tooltipAccentTxt: rgba(255, 255, 255, 0.9);
    --tooltipRadius: 4px;
    --tooltipBorder: #0c101b;
  
    /* Old betslip */
    --betSlipBg: #1c253e;
    --betSlipBg2: #2c3a61;
    --betSlipBorder: #0c101b;
    --betSlipTxt: rgba(255, 255, 255, 0.9);
    --betSlipTxt2: rgba(255, 255, 255, 0.6);
  
    --betSlipStakeG: #212b49;
    --betSlipStakeBg: #212b49;
    --betSlipStakeTxt: rgba(255, 255, 255, 0.9);
    --betSlipStakeTxt2: rgba(255, 255, 255, 0.6);
  
    --betSlipInputG: #212b49;
    --betSlipInputTxt: rgba(255, 255, 255, 0.9);
  
    --betSlipButtonG: #212b49;
    --betSlipButtonBg2: #31406c;
    --betSlipButtonTxt: rgba(255, 255, 255, 0.9);
    --betSlipButtonRadius: 0px;
  
    --spritePositionX: 0px;
  }
  